<!--The content below is only a placeholder and can be replaced.-->
<head>

    <link href="normalize.css" rel="stylesheet">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./styles.css">
    
</head>

<body>
    <div class="question">
        <div class="glyphicon glyphicon-question-sign">
        </div>
    </div>
    
    
    <div class="title-container">
      <img src="logo.png" width="400">
    </div>
    <app-user-prompt></app-user-prompt>
    
     <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true">
        </span>
        <span class="glyphicon glyphicon-check" aria-hidden="true">
        </span>
    </div>
    

</body>
