body{
    background-color: #00e5ff;
}

.glyphicon-calendar {
  color: white;
  font-size: 200%;
  display: inline;
  position: absolute;
  padding-top: .5%;
  left: 33%;
}

.glyphicon-check {
    color: white;
    font-size: 200%;
    display: inline;
    position: absolute;
    padding-top: .5%;
    left: 66%;
}

.search {
    overflow: hidden;
    display: flex;
}

.search input[type=text] .search-container button {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    float: none;
    text-align: left;
    width: 25%;
    margin: 0;
    padding: 14px;
}

input{
    border: none;
    width: 60%;
}

.submit{
    background-color: #ab47bc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.topRight-container{
    padding-top: 2%;
    padding-left: 2%;
    align-items: center;
    position: absolute;
    justify-content: center;
}

.topRightButton-container{
    padding-top: 6%;
    padding-left: 2%;
    align-items: center;
    position: absolute;
    justify-content: center;
}

.search-container {
    padding-top: 2%;
    padding-left: 26%;
    font-size: 25px;
}

.search .search-container button:hover {
    background: #ccc;
}

.question {
    float: right;
    font-size: 25px;
    color: white;
    padding: 25px;
}

input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
}

.material-icons.md-36 { font-size: 36px; }

button[type=submit]{
    background-color: orange;
    padding: 12px 20px;
    border: none;
    position: absolute;
}

.lower-container{
    background-color: yellow;
    padding-bottom: 2%;
    margin-top: 3%;
    height: 30%;
    margin-bottom: auto;
    width: 100%;
    min-height: 300px;
}

.lLeft-container{
    background-color: purple;
    padding-bottom: 2%;
    margin-left: 2%;
    margin-bottom: auto;
    width: 45%;
    position: absolute;
    float: left;
}

.lRight-container{
    background-color: green;
    margin-bottom: auto;
    padding-bottom: 2%;
    margin-left: 52%;
    margin-bottom: auto;
    width: 45%;
    position: absolute;
}


